<link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}" type="text/css" />

<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <a href="{{ path('app_home') }}"></a>
                <img src={{ asset("assets/images/Logo.png") }} alt="Logo stubborn" class="logo">
            </a>
          <p>Don't compromise on your look</p>
        </div>

        <div class="footer-info">
            <address>
                <p class="footer-title">Stubborn</p>
                <p>Adresse: Piccadilly Circus, London W1J 0DA, Royaume-Uni</p>
                <p>Adresse de contact: stubborn@blabla.com</p>
            </address>
        </div>
    </div>
</footer>