
.security-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100vh;
    
}

.login-form{
    width: 20vw;
    border: 1px solid #444;
    padding: 15px;
   
}

.separation-form{
    display: flex;
    justify-content: center;
    align-items: center;

}
.separation{
    width: 80%;
    height: 3px;
    background-color: rgb(109, 136, 224);
    margin: 5px;
    
}
