{% extends 'base.html.twig' %} {% block title %}Payement Annulé{% endblock %} {% block body %}


 <div class="container">
        <h1>La commande à été annulé</h1>

        <a href="{{path('app_home')}}">Retour à la page d'accueil</a>
        
</div>
{% endblock %}
